.navlinks{
    background-color: #232f3e;
    color: whitesmoke;
    height: 39px;
}
.navlinks__outer{
    width: 70%;
    margin: auto;
    padding: 6px;

}
.navlinks__outer a{
    color: whitesmoke;
    text-decoration: none;
    display: ruby-text-container;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    margin-top: 10px;
}
.navlinks__outer a:hover{
    border: 1px solid white;
    border-radius: 4px;
}
.navlinks__inner{
    margin-top:4px ;
}